aiohttp
alphabet_detector
anytree
appdirs
aria2p
attrdict
beautifulsoup4
bleach
bs4
cachetools
cloudscrape
covid
demjson
dnspython
emoji
feedparser
future
fontTools
git+https://github.com/userbotindo/python-markdown2.git
google_trans_new
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gtts
gunicorn
hurry.filesize
jikanpy
js2py
lk21
lxml
pillow
psutil
psycopg2-binary
pybase64
pymongo[srv]
pyrogram
pyshorteners
python-dotenv
python-magic
python-telegram-bot
pytz
qbittorrent-api
requests
spamwatch
speedtest-cli
sqlalchemy
telegraph
tenacity
telethon
TgCrypto
torrentool==1.1.0
urllib3
wget
wikipedia
youtube_dl
